@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Ojuju:wght@200..800&family=Protest+Riot&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Ojuju:wght@200..800&family=Protest+Riot&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Fredoka:wght@300..700&family=Mukta:wght@200;300;400;500;600;700;800&family=Protest+Revolution&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barriecito&family=Concert+One&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Revolution&family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather");
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Ojuju:wght@200..800&family=Protest+Riot&family=Saira:ital,wght@0,100..900;1,100..900&family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Kaushan+Script&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Ojuju:wght@200..800&family=Protest+Riot&family=Saira:ital,wght@0,100..900;1,100..900&family=Yatra+One&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Ojuju:wght@200..800&display=swap");



body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.grid {
  display: grid;
  gap: 9rem;
}

.grid-two-column {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three-column {
  grid-template-columns: repeat(3, 1fr);
}

.grid-four-column {
  grid-template-columns: 1fr 1.2fr 0.5fr 0.8fr;
}

.grid-five-column {
  grid-template-columns: repeat(5, 1fr);
}

.success-message {
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #ce1a7d;
  color: white;
  padding: 15px;
  border-radius: 5px;
  animation: fadeInUp 0.5s ease forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}