.nav-container {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  font-family: "Playfair Display", serif;
  background-color: #fcfcfc;
  height: 70px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(32, 113, 49, 1) 52%,
    rgba(0, 212, 255, 1) 100%
  );
  position: relative;
  opacity: 0.85;
}

.logo {
  height: 50px;
  width: 220px;
  opacity: 2;
}

.menu-icon {
  display: none;
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  text-transform: uppercase;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 50px;
}

.nav-elements ul a {
  font-size: 1.2rem;
  font-weight: bolder;
  color: #ffffff;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: #fee153;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #f565fa;
}
.nav-elements ul a:hover {
  color: rgb(0, 0, 0);
}

.admin {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.admin-name {
  font-family: "Righteous", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #8c3347;
  font-size: 1.1rem;
  margin-right: 20px;
  margin-bottom: 5px;
}
.admin-icon {
  height: 28px;
  width: 38px;
  margin-right: 5px;
  font-weight: bolder;
  color: #05263b;
}
.logout-icon {
  height: 28px;
  width: 38px;
  font-weight: bolder;
  color: rgb(0, 0, 0);
}
.logout-icon:hover {
  color: white; /* Change to the color you want on hover */
}

.login-dropdown {
  position: relative;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: bolder;
  color: #ffffff;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffcff4;
  border-radius: 5px;
  min-width: 140px; /* Smaller width */
  box-shadow: 0px 3px 2px 2px rgb(87, 84, 84);
  font-family: "Righteous", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

.dropdown-content a {
  color: rgb(43, 21, 142) !important; /* Adjust font color */
  padding: 8px 12px; /* Adjust padding */
  text-decoration: none;
  display: block;
  font-size: 1rem !important ;
}

.dropdown-content a:hover {
  background-color: #d9d9d9; 
  color:#604d18 !important;
    border-radius: 5px;
}

.login-dropdown:hover .dropdown-content {
  display: block;
}

.add-rent {
  display: flex;
  padding-right: 10px;
}

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #fef7e5;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 270px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
  .cart-trolley--link {
    position: relative;

    .cart-trolley {
      position: relative;
      font-size: 1.5rem;
    }

    .cart-total--item {
      width: 1rem;
      height: 1rem;
      font-size: 1rem;
    }
  }
}
